.margin {
  margin: 35px 0px;
}

.btn {
  margin-left: 20px;
}

.slider {
  /*margin-top: 44px;
  top: -44px;*/
  /*margin-top:  10px;*/
}

.well hr {
  border-top: 1px solid #dddddd;
}

h2, h3 {
  margin-top: 6px;
}

.slider-track {
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%);
}

.slider-selection {
  background: #BABABA;
}
